@use "../../styles/helpers/" as *;

.total-card {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  &__label {
    @include fluid-text(16, 16);

    // font-weight: 500;
    // text-transform: capitalize;
  }

  &__amount {
    display: inline-flex;
    align-items: end;

    &::before {
      content: "₴";
      margin-right: 6px;
      font-size: 0.9em;
    }
  }
}
