@use "media" as *;
@use "sass:math";

@mixin fluid-text($max: 48, $min: 16) {
  $maxViewportWidth: 1400;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@mixin reset-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin hover-effect {
  transition-property: opacity;
  transition-duration: var(--transition-duration);

  @include hover {
    opacity: 0.7;
  }
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin focus-animation {
  & {
    background-color: var(--color-smoke-light);
    border-radius: 4px;
  }
  
  // &.has-focus {
  //   animation: focus 1s alternate infinite;
  // }
}

@keyframes focus {
  0% {
    background-color: var(--color-smoke-light);
  }

  100% {
    background-color: transparent;
  }
}
