@use "../helpers/" as *;

.dashboard {
  display: grid;
  grid-template-columns: 300px 500px;
  column-gap: 50px;
  height: 100%;
  padding-top: 25px;

  @include laptop {
    grid-template-columns: minmax(230px, 300px) 500px;
  }

  @include tablet {
    grid-template-columns: minmax(200px, 300px) 500px;
    column-gap: 20px;
  }

  @include mobile {
    display: flex;
    justify-content: center;
  }

  &__nav {
    overflow-y: auto;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--color-smoke-light);
      border-radius: 20px;
    }

    @include mobile {
      display: none;
    }

    &-list {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 100%;
    }

    &-item {
      width: 100%;
    }

    &-button {
      display: flex;
      align-items: center;
      column-gap: 10px;
      max-width: 290px;
      width: 100%;
      padding: 5px;
      border-radius: 10px;
      font-size: 16px;

      &:hover {
        background-color: var(--color-smoke-light);
      }

      &.is-active {
        font-weight: 500;
        background-color: var(--color-smoke-light);
      }
    }

    &-icon {
      @include square(35px);

      flex-shrink: 0;
      color: initial;
      filter: drop-shadow(-1px 1px 8px rgba(0, 0, 0, 0.12));

      &:hover {
        // opacity: 0.8;
      }

      path.body {
        fill: var(--color-light);
      }

      path.fold {
        fill: var(--color-light);
        stroke: unset;
        filter: drop-shadow(-2px 3px 4px rgba(0, 0, 0, 0.2));
      }
    }

    &-label {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__content {
    position: relative;

    @include mobile {
      max-width: 450px;
      width: 100%;
    }
  }

  &__switch-document-button {
    position: fixed;
    right: 15px;
    bottom: 20px;
    display: flex;
    align-items: center;
    column-gap: 7px;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 16px;
    color: var(--color-blue);
    background-color: #dddddd;

    @include mobile-above {
      display: none;
    }

    svg {
      @include square(19px);
    }
  }
}

.modal {
  position: fixed;
  // left: 5px;
  // right: 5px;
  // bottom: 100%;
  top: 100%;
  max-width: 450px;
  width: 100%;
  height: 95vh;
  padding: 15px 5px;
  background-color: var(--color-light-gray);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition-duration: 0.3s;

  &.show {
    // bottom: 0;
    top: 20%;
  }

  &__header {
    display: flex;
    justify-content: end;
    padding-bottom: 10px;
    padding-inline: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #a6a6a6;
  }

  &__close-button {
    @include square(22px);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    font-size: 18px;
    color: var(--color-dark-alt);
    background-color: var(--color-smoke-light);
    border-radius: 50px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 290px;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    font-size: 16px;

    &:hover,
    &.is-active {
      // color: var(--color-blue);
      font-weight: 500;
      background-color: var(--color-smoke-light);
    }
  }

  &__icon {
    @include square(25px);
  }

  &__label {
    translate: 0 1px;
  }
}
